<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="navcontainer">
  <ul id="signInContainer">
        <% if current_user %>
        <li>Signed in as <strong><%= current_user.name %></strong>
        </li>
        <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <script>
          $(function() {
            $(session).toggle();
            console.log("here");
          });
        </script>
      <% end %>
  </ul>
      <ul id="navbar">
        <li id="sessionActive"><a href= "/" >Home</a></li>
        <li id="session"><a href="recipe/add" class="not-active">Add Recipe</a></li>
        <li data-href="https://ide.c9.io/mrclaytor/itsc3155rubyprojects"         data-layout="link" 
        data-mobile-iframe="true">
          <a class="fb-xfbml-parse-ignore" 
          target="_blank" 
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fide.c9.io%2Fmrclaytor%2Fitsc3155rubyprojects&amp;src=sdkpreparse">
          Share</a></div></li>
      </ul>
  </div>

<div id="tocenter">
  <div id="titlediv">
    <h1 id="titleheading"></h1>
  </div>
</div>
<div id="universal">

  <div id="navcontainer">
    <p id="sub">
      <ul id="tagbar">
        <li><a href="nothing.erb">Breakfast</a></li>
        <li><a href="nothing.erb">Lunch</a></li>
        <li><a href="nothing.erb">Dinner</a></li>
        <li><a href="nothing.erb">Dessert</a></li>
      </ul>
    </p>
  </div>
  <br>
</div>

<div class="body1">
  <div class="inner">
 <div id="leftscroll">
      <ul id="subtagbar">
        <li><a href="nothing.erb">Gluten-free</a></li>
        <li><a href="nothing.erb">Lactose Free</a></li>
        <li><a href="nothing.erb">Vegan</a></li>
        <li><a href="nothing.erb">Vegetarian</a></li>
        <li><a href="nothing.erb">Low Calorie</a></li>
        <li><a href="nothing.erb">Low Fat</a></li>
        <li><a href="nothing.erb">Diabetic</a></li>
        <li><a href="nothing.erb">Slow Cooker</a></li>
      </ul>
  </div>
  <div id="bodyscroll">
    <!-- Testing area -->
      <table>
        <tr>
          <th>Recipe Name</th>
          <th>Ingredients</th>
          <th>Directions</th>
          <th>Tags</th>
        </tr>
        <%= @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.title %></td>
            <td><%= recipe.ingredients %></td>
            <td><%= recipe.directions %></td>
            <td><%= recipe.tags %></td>
          </tr>
        <% end %>
      </table>
    <div class="imgContainer">
      <img src= ""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Want pie?</a></div>
      </div>
    </div>
    <div class="imgContainer">
      <img src= ""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Or Cupcakes?</a></div>
      </div>
    </div>
    <div class="imgContainer">
      <img src=""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Cake cake cake cake</a></div>
      </div>
    </div>
    <div class="imgContainer">
      <img src=""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Pineapples!</a></div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="footcontainer">
  <ul id="footer">
    <li>Lucky Ducky Foocipes ©</li>
    <li><a href="nothing.erb">About Us</a></li>
  </ul>
</div>