<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div id="navcontainer">
  <ul id="signInContainer">
        <% if current_user %>
        <li>Signed in as <strong><%= current_user.name %></strong>
        </li>
        <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <script>
          $(function() {
            $(session).toggle();
            console.log("here");
          });
        </script>
      <% end %>
  </ul>
      <ul id="navbar">
        <li id="sessionActive"><a href= "/" >Home</a></li>
        <li id="session"><a href="../recipe/add" class="not-active">Add Recipe</a></li>
        <li data-href="https://foocipes-mrclaytor.c9users.io/"         
        data-layout="link" 
        data-mobile-iframe="true">
          <a class="fb-xfbml-parse-ignore" 
          target="_blank" 
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fide.c9.io%2Fmrclaytor%2Fitsc3155rubyprojects&amp;src=sdkpreparse">
          Share</a></div></li>
      </ul>
  </div>

<div id="universal">
  <div id="titlediv">
    <h1 id="titleheading"></h1>
  </div>
  <div id="navcontainer">
    <p id="sub">
      <h2 id="titleH2">Add a Recipe</h2>
    </p>
  </div>
  <br>
</div>

<div class="body1">
    <div id="recipeform">
      <div id="centerRecipe">
      <h2>Add a Recipe</h2>
      <%= form_for :recipe do |f| %>
     <p>
       <select>
         <option value="1">Breakfast</option>
         <option value="2">Lunch</option>
         <option value="3">Dinner</option>
         <option value="4">Dessert</option>
         <option value="5">Drink</option>
       </select>
     </p>
     
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, :maxlength => 40, :size => 60 %>
      </p>
     
      <p>
        <%= f.label :ingredients %><br>
        <%= f.text_area :text, cols: "60", rows: "10"%>
      </p>
     
       <p>
        <%= f.label :directions %><br>
        <%= f.text_area :text, cols: "60", rows: "10" %>
      </p>
      <p>
        <select multiple>
          <option value="6">Vegetarian</option>
          <option value="7">Lactose-free</option>
          <option value="8">Under 600 calories</option>
          <option value="9">Spicy</option>
        </select>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
    </div>
  </div>
</div>
<br>
<div id="footcontainer">
  <ul id="footer">
    <li>Lucky Ducky Foocipes ©</li>
    <li><a href="nothing.erb">About Us</a></li>
  </ul>
</div>